# Not archived
.docs export-ignore
tests export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore
Makefile export-ignore
phpstan.neon export-ignore
ruleset.xml export-ignore
tsconfig.json export-ignore
rollup.config.js export-ignore
# Assets
.npmignore export-ignore
