includes:
	- ./vendor/gamee/php-code-checker-rules/phpstan.neon

parameters:
	ignoreErrors:
		- '#^Access to an undefined property Nette\\Bridges\\ApplicationLatte\\Template::\$.+\.$#'
		- '#^Method Ublaboo\\DataGrid\\Localization\\SimpleTranslator::translate\(\) has parameter \$[a-z]+ with no typehint specified\.$#'
		- '#^Array \(array<callable\(Nette\\Forms\\Form\): void>\) does not accept array\(\$this\(.+\), .+\)\.$#'
