includes:
	- ./vendor/gamee/php-code-checker-rules/phpstan.neon

parameters:
	ignoreErrors:
		#- '/^Call to an undefined method Dibi\\Fluent::or\(\)\.$/'
		#- '/^Access to an undefined property Nette\\Bridges\\ApplicationLatte\\Template::\$.+\.$/'
