{**
 * @param Filter $filter
 *}

{label $filter->getKey() class => 'col-sm-3 control-label' /}
<div class="col-sm-9">
	{input $filter->getKey() class => 'form-control',  data-autosubmit => TRUE}
</div>
