{**
 * @param array    $columns           Available columns
 * @param array    $actions           Available actions
 * @param array    $exports           Available exports
 * @param array    $filters           Available filters
 * @param Form     $filter            Walkaround for latte (does not know $form in snippet in foreach, etc)
 * @param array    $items             List of items from data source
 * @param DataGrid $control           Parent (DataGrid)
 * @param string   $original_template Original template file path
 * @param string   $icon_prefix       Icon prefix (fa fa-)
 *}

<div class="datagrid card card-1 primary datagrid-{!$control->getName()}">
	{**
	 * Own data
	 *}
	<div n:snippet="grid">
	{snippetArea gridSnippets}
		{form filter, class => 'ajax'}
			{**
			 * Filter form
			 *}
			{if $control->hasOuterFilterRendering()}
				<div class="row row-filters">
					{var $i = 0}
					<div class="col-sm-6" n:foreach="$filters as $f">
						{**
						 * Each fitlers are rendered separately in their own templates
						 *}
						{include $f->getTemplate(), filter => $f, input => $form['filter'][$f->getKey()], outer => TRUE}
						{var $i = $i+1}
					</div>
				</div>
			{/if}
			<table class="table table-striped table-hover table-bordered" n:snippet="table" n:block="data">
				<thead>
					<tr class="row-group-actions" n:if="$control->hasGroupActions() || $exports">
						{var $columns_count = sizeof($columns) + (int) $control->hasGroupActions() + (int) $actions}
						<th colspan="{$columns_count}" class="form-inline">
							{if $control->hasGroupActions()}
								{block group_actions}
									{_'Group actions:'}
									{foreach $filter['group_action']->getControls() as $form_control}
										{if $form_control instanceof \Nette\Forms\Controls\SubmitButton}
											{input $form_control, class => 'btn btn-primary btn-sm', style => 'display:none'}
										{elseif $form_control->getName() == 'group_action'}
											{input $form_control, class => 'form-control input-sm', disabled => TRUE}
										{else}
											{input $form_control, class => 'form-control input-sm', style => 'display:none'}
										{/if}
									{/foreach}
								{/block}
							{/if}

							<span class="pull-right exports" n:if="$exports" n:block="exports">
								{foreach $exports as $export}{$export->render()}{/foreach}
							</span>
						</th>
					</tr>
					<tr>
						<th n:if="$control->hasGroupActions()" rowspan="2" class="col-checkbox">
							<input class="happy gray-border primary" name="toggle-all" type="checkbox" data-check="{!$control->getName()}" data-check-all="{$control->getName()}">
						</th>
						{foreach $columns as $column_key => $column}
							{var $align = $column->hasAlign() ? $column->getAlign() : 'left'}
							<th class="col-{$column->getColumnName()} text-{$align}">
								{if $column->isSortable()}
									<a n:class="$column->isSortedBy() ? 'sort' : '', 'ajax'" n:href="sort!, sort => $column->getSortNext()">
										{$column->getName()}
										{if $column->isSortedBy()}
											<span n:class="$column->isSortAsc() ? 'fa-caret-up' : 'fa-caret-down', 'fa'"></span>
										{else}
											<span class="fa fa-sort"></span>
										{/if}
									</a>
								{else}
									{$column->getName()}
								{/if}
								{if !$control->hasOuterFilterRendering() && isset($filters[$column_key])}
									<hr>
									{var $i = $filter['filter'][$column_key]}
									{include $filters[$column_key]->getTemplate(), filter => $filters[$column_key], input => $i, outer => FALSE}
								{/if}
							</th>
						{/foreach}
						<th n:if="$actions || $control->isSortable()" class="col-action text-center">
							{_'Action'}
						</th>
					</tr>
				</thead>

				<tbody n:snippet="tbody" {if $control->isSortable()}data-sortable data-sortable-url="{plink sort!}"{/}>
					{snippetArea items}
						{foreach $items as $item}
							{var $id_value = is_object($item) ? $item->{$control->getPrimaryKey()} : $item[$control->getPrimaryKey()]}

							<tr data-id="{$id_value}" n:snippet="item-{$id_value}">
								<td n:if="$control->hasGroupActions()" class="col-checkbox">
									<input class="happy gray-border primary" type="checkbox" data-check="{!$control->getName()}" data-check-all-{!$control->getName()} name="group_action_item[{$id_value}]">
								</td>
								{foreach $columns as $key => $column}
									{var $col = 'col-' . $key}
									{var $align = $column->hasAlign() ? $column->getAlign() : 'left'}

									<td class="{$col} text-{$align}">
										{if $column->hasTemplate()}
											{include $column->getTemplate(), item => $item, (expand) $column->getTemplateVariables()}
										{else}
											{ifset #$col}
												{include #$col, item => $item}
											{else}
												{if $column->isTemplateEscaped()}
													{$column->render($item)}
												{else}
													{!$column->render($item)}
												{/if}
											{/ifset}
										{/if}
									</td>
								{/foreach}
								<td n:if="$actions || $control->isSortable()" class="col-action">
									{foreach $actions as $action}
										{if $action->hasTemplate()}
											{include $action->getTemplate(), item => $item}
										{else}
											{!$action->render($item)}
										{/if}
									{/foreach}
									<span class="handle-sort btn btn-xs btn-default" n:if="$control->isSortable()">
										<span class="{$icon_prefix}arrows"></span>
									</span>
								</td>
							</tr>
						{/foreach}
						<tr n:if="!$items">
							<td colspan="{sizeof($columns) + ($actions || $control->isSortable() ? 1 : 0) + ($control->hasGroupActions() ? 1 : 0)}">
								{if $filter_active}
									{_'No items found. You can reset the filter'} <a class="link ajax" n:href="resetFilter!">{_'zde'}</a>.
								{else}
									{_'No items found.'}
								{/if}
							</td>
						</tr>
					{/snippetArea}
				</tbody>
				{block tfoot}{/block}
			</table>
		{/form}
	{/snippetArea}
	</div>

	{**
	 * Bottom row
	 *}
	<div n:snippet="pagination" n:if="!$control->isTreeView()" class="row-grid-bottom">
		<div class="col-items">
			<small class="text-muted" n:if="$control->isPaginated()">
				({var $paginator = $control['paginator']->getPaginator()}

				{if $control->getPerPage() === 'all'}
					{_'Items'}: {_'all'}
				{else}
					{_'Items'}: {$paginator->getOffset() + 1} - {sizeof($items) + $paginator->getOffset()}
					{_'from'} {$paginator->getItemCount()}
				{/if})
			</small>
		</div>
		<div class="col-pagination text-center">
			{**
			* Pagination
			*}
			{control paginator}
		</div>
		<div class="col-per-page text-right">
			{**
			* Items per page form (display only besie paginated grido)
			*}
			<a n:if="$filter_active" n:href="resetFilter!" class="ajax btn btn-danger btn-sm reset-filter">Zrušit filtr</a>
			{if $control->isPaginated()}
				{form perPage, class => 'ajax'}
					{input per_page, data-autosubmit => TRUE, class => 'form-control input-sm'}
					{input submit, class => 'hidden'}
				{/form}
			{/if}
		</div>
	</div>
</div>
