{**
 * @param array    $columns           Available columns
 * @param array    $actions           Available actions
 * @param array    $exports           Available exports
 * @param array    $items             List of items from data source
 * @param DataGrid $control           Parent (DataGrid)
 * @param string   $original_template Original template file path
 *}

{extends $original_template}

<div class="tree data-list" n:block="data" data-tree {if $control->isSortable()}data-tree-sortable-url="{plink sort!}"{/}>
    <ul class="tree__header">
        <li>
            <div class="tree__row">
                <div n:if="$control->hasGroupActions()" class="tree__column col-checkbox">
                    <span class="master-checkbox"><input type="checkbox" data-master></span>
                </div>
                {foreach $columns as $column}
                <div class="tree__column col-{$column->getColumnName()}">
                    {if $column->isSortable()}
                        <a n:class="$column->isSortedBy() ? 'sort' : '', 'ajax'" n:href="sort!, sort => $column->getSortOpposite()">
                            {$column->getName()}
                            {if $column->isSortedBy()}
                                <span n:class="$column->isSortAsc() ? 'fa-caret-up' : 'fa-caret-down', 'fa'"></span>
                            {else}
                                <span class="{$icon_prefix}sort"></span>
                            {/if}
                        </a>
                    {else}
                        {$column->getName()}
                    {/if}
                </div>
                {/foreach}
                <div n:if="$actions || $control->isSortable()" class="tree__column col-action">
                    Akce
                </div>
            </div>
        </li>
    </ul>

    <ul class="tree__body" n:snippet="items">
        {foreach $items as $item}
        {var $id_value = is_object($item) ? $item->{$control->getPrimaryKey()} : $item[$control->getPrimaryKey()]}

        <li class="tree__node" data-id="{$id_value}">
            <div class="tree__row" n:snippet="item-{$id_value}">
                <div n:if="$control->hasGroupActions()" class="tree__column col-checkbox">
                    <input type="checkbox" name="group_action_item[{$id_value}]">
                </div>
                <div class="tree__column col-toggle" data-id="{$id_value}">
                    <a n:href="getChildren! parent => $id_value" class="btn btn-toggle" n:if="$item->{$tree_view_has_children_column}">
                        <div class="{$icon_prefix}caret-right"></div>
                    </a>
                </div>
                {foreach $columns as $column}
                <div class="tree__column col-{$column->getColumnName()}">
                    {if $column->hasTemplate()}
                        {include $column->getTemplate(), item => $item}
                    {else}
                        {$column->render($item)}
                    {/if}
                </div>
                {/foreach}
                <div n:if="$actions || $control->isSortable()" class="tree__column col-action">
                    {foreach $actions as $action}
                        {if $action->hasTemplate()}
                            {include $action->getTemplate(), item => $item}
                        {else}
                            {!$action->render($item)}
                        {/if}
                    {/foreach}
                    {if $control->isSortable()}
                        <span class="handle btn btn-xs btn-default">
                            <span class="{$icon_prefix}arrows"></span>
                        </span>
                    {/if}
                </div>
            </div>
        </li>
        {/foreach}
    </ul>
</div>
