{**
 * @param Filter $filter
 *}

<div class="row">
	{label $control class => 'col-sm-3 control-label' /}
	<div class="col-sm-9">
		{input $control, class => 'form-control input-sm',  data-autosubmit => TRUE}
	</div>
</div>
