{**
 * @param array    $columns           Avalible columns
 * @param array    $actions           Avalible actions
 * @param array    $exports           Avalible exports
 * @param array    $items             List of items from data source
 * @param DataGrid $control           Parent (DataGrid)
 * @param string   $original_template Original template file path
 * @param string   $icon_prefix       Icon prefix (fa fa-)
 *}

<div class="datagrid card card-1 primary grid-{!$control->getName()}">
	<div class="box-content">
		{**
		 * Own data
		 *}
		<div class="grid" n:snippet="data">
		{form filterAndGroupAction, class => 'ajax'}
			{**
			 * Filter form
			 *}
			{if $control->hasOuterFilterRendering()}
				<div class="row row-filters">
					{var $i = 0}
					<div class="col-sm-6" n:foreach="$filters as $filter">
						{**
						 * Each fitlers are rendered separately in their own templates
						 *}
						{include $filter->getTemplate(), filter => $filter, control => $form['filter'][$filter->getKey()]}
						{var $i = $i+1}
					</div>
					<div n:class="$i % 2 ? 'col-sm-6' : 'col-sm-12', 'text-right'">
						<a n:href="resetFilter!" class="ajax btn btn-default reset-filter">Zrušit filtr</a>
					</div>
				</div>
			{/if}
			<table class="table table-striped table-hover table-bordered" n:block="data" n:if="$items">
				<thead>
					<tr class="row-group-actions" n:if="$control->hasGroupActions() && $exports">
						{var $columns_count = sizeof($columns) + (int) $control->hasGroupActions() + (int) $actions}
						<th colspan="{$columns_count}" class="form-inline">
							{if $control->hasGroupActions()}
								{block group_actions}
									{_'Hromadné akce:'}
									{foreach $filter_and_group_action['group_action']->getControls() as $form_control}
										{if $form_control instanceof \Nette\Forms\Controls\SubmitButton}
											{input $form_control, class => 'btn btn-primary btn-sm', style => 'display:none'}
										{elseif $form_control->getName() == 'group_action'}
											{input $form_control, class => 'form-control input-sm', disabled => TRUE}
										{else}
											{input $form_control, class => 'form-control input-sm', style => 'display:none'}
										{/if}
									{/foreach}
								{/block}
							{/if}

							<span class="pull-right exports" n:if="$exports" n:block="exports">
								{foreach $exports as $export}{$export->render()}{/foreach}
							</span>
						</th>
					</tr>
					<tr>
						<th n:if="$control->hasGroupActions()" rowspan="2" class="col-checkbox">
							<input class="happy gray-border primary" name="toggle-all" type="checkbox" data-check="{!$control->getName()}" data-check-all="{$control->getName()}">
						</th>
						{foreach $columns as $column_key => $column}
							{var $align = $column->hasAlign() ? $column->getAlign() : 'left'}
							<th class="col-{$column->getColumnName()} text-{$align}">
								{if $column->isSortable()}
									<a n:class="$column->isSortedBy() ? 'sort' : '', 'ajax'" n:href="sort!, sort => $column->getSortOpposite()">
										{$column->getName()}
										{if $column->isSortedBy()}
											<span n:class="$column->isSortAsc() ? 'fa-caret-up' : 'fa-caret-down', 'fa'"></span>
										{else}
											<span class="fa fa-sort"></span>
										{/if}
									</a>
								{else}
									{$column->getName()}
								{/if}
								{if !$control->hasOuterFilterRendering() && isset($filters[$column_key])}
									<hr>
									{input $filter_and_group_action['filter'][$column_key], data-autosubmit => TRUE}
								{/if}
							</th>
						{/foreach}
						<th n:if="$actions || $control->isSortable()">
							{_'Akce'}
						</th>
					</tr>
				</thead>

				<tbody n:snippet="items" {if $control->isSortable()}data-sortable data-sortable-url="{plink sort!}"{/}>
					{foreach $items as $item}
						{var $id_value = is_object($item) ? $item->{$control->getPrimaryKey()} : $item[$control->getPrimaryKey()]}

						<tr data-id="{$id_value}" n:snippet="data-{$id_value}">
							<td n:if="$control->hasGroupActions()" class="col-checkbox">
								<input class="happy gray-border primary" type="checkbox" data-check="{!$control->getName()}" data-check-all-{!$control->getName()} name="group_action_item[{$id_value}]">
							</td>
							{foreach $columns as $key => $column}
								{var $col = 'col-' . $key}
								{var $align = $column->hasAlign() ? $column->getAlign() : 'left'}

								<td class="{$col} text-{$align}">
									{if $column->hasTemplate()}
										{include $column->getTemplate(), item => $item, (expand) $column->getTemplateVariables()}
									{else}
										{ifset #$col}
											{include #$col, item => $item}
										{else}
											{if $column->isTemplateEscaped()}
												{$column->render($item)}
											{else}
												{!$column->render($item)}
											{/if}
										{/ifset}
									{/if}
								</td>
							{/foreach}
							<td n:if="$actions || $control->isSortable()">
								{foreach $actions as $action}
									{if $action->hasTemplate()}
										{include $action->getTemplate(), item => $item}
									{else}
										{!$action->render($item)}
									{/if}
								{/foreach}
								<span class="handle btn btn-xs btn-default" n:if="$control->isSortable()">
									<span class="{$icon_prefix}arrows"></span>
								</span>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div class="alert alert-info" n:if="!$items">
				{if $filter_active}
					{_'Zadanému filtru nevyhovuje žádná položka. Filtr můžete vynulovat kliknutím'} <a class="ajax" n:href="resetFilter!">{_'na tento odkaz'}</a>.
				{else}
					{_'Žádné položky k zobrazení'}
				{/if}
			</div>
		{/form}
		</div>

		{**
		 * Bottom row
		 *}
		 <div n:snippet="pagination" n:if="$items" class="row-grid-bottom">
		 	<div class="col-items">
				<small class="text-muted" n:if="$control->isPaginated()">
					({var $paginator = $control['paginator']->getPaginator()}

					{if $control->getPerPage() === 'all'}
						{_'Položky'}: {_'všechny'}
					{else}
						{_'Položky'}: {$paginator->getOffset() + 1} - {sizeof($items) + $paginator->getOffset()}
						{_'z'} {$paginator->getItemCount()}
					{/if})
				</small>
		 	</div>
		 	<div class="col-pagination text-center">
		 		{**
				 * Pagination
				 *}
				{control paginator}
		 	</div>
		 	<div class="col-per-page text-right">
		 		{**
				 * Items per page form (display only besie paginated grido)
				 *}
				{if $control->isPaginated()}
					{form perPage, class => 'ajax'}
						{input per_page, data-autosubmit => TRUE, class => 'form-control input-sm'}
						{input submit, class => 'hidden'}
					{/form}
				{/if}
		 	</div>
		 </div>
	</div>
</div>
