{**
 * @param array    $columns             Available columns
 * @param array    $actions             Available actions
 * @param array    $exports             Available exports
 * @param Row[]    $rows                List of rows (each contain a item from data source)
 * @param DataGrid $control             Parent (DataGrid)
 * @param string   $original_template   Original template file path
 * @param string   $icon_prefix         Icon prefix (fa fa-)
 * @param callable $getTreeChildrenRows Callback to retrieve children rows
 * @param boolean  $tree_dynamic        Whether tree nodes are to be loaded dynamically
 * @param boolean  $tree_nodes_opened   Should all nodes be opened by default
 *}

{extends $original_template}

<div class="datagrid-tree-item-children datagrid-tree" n:snippet="table" n:block="data" {if $control->isSortable()}data-sortable-tree data-sortable-url="{plink $control->getSortableHandler()}"{/}>
	
		<div class="datagrid-tree-item datagrid-tree-header" n:snippet="item-header">
			<div class="datagrid-tree-item-content" data-has-children="">
				<div class="datagrid-tree-item-left">
					{foreach $columns as $key => $column}
						<strong>{_$column->getName()}</strong>
						{breakIf TRUE}
					{/foreach}
				</div>

				<div class="datagrid-tree-item-right">
					<div class="datagrid-tree-item-right-columns">
						{foreach $columns as $key => $column}
							{continueIf $iterator->isFirst()}
							<div class="datagrid-tree-item-right-columns-column col-{$column->getColumnName()} text-{$column->hasAlign() ? $column->getAlign() : 'left'}">
								<strong>{_$column->getName()}</strong>
							</div>
						{/foreach}
					</div>
					<div class="datagrid-tree-item-right-actions" n:if="($actions || $control->isSortable()) && $rows">
						<div class="datagrid-tree-item-right-actions-action">
							{var $tmp_row = reset($rows)}

							{foreach $actions as $key => $action}
								{if $tmp_row->hasAction($key)}
									{if $action->hasTemplate()}
										{include $action->getTemplate(), item => $item, (expand) $action->getTemplateVariables()}
									{else}
										{$action->render($tmp_row)|noescape}
									{/if}
								{/if}
							{/foreach}

							<span class="handle-sort btn btn-xs btn-default" n:if="$control->isSortable()">
								<i class="{$icon_prefix}arrows"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		{snippetArea includedTreeRows}
			{include 'datagrid_tree_rows.latte'}
		{/snippetArea}
		{if !$rows}
			{_'ublaboo_datagrid.no_item_found'}
		{/if}
</div>
