{**
 * @param Filter $filter
 *}

<div class="row">
	{label $control class => 'col-sm-3 control-label' /}
	<div class="col-sm-9">
		<div class="input-group">
			{input $control, class => 'form-control input-sm', data-autosubmit => TRUE}
			<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
		</div>
	</div>
</div>
