{**
 * @param Filter                         $filter
 * @param Nette\Forms\Controls\TextInput $input
 *}

{if $outer}
	<div class="row">
		{label $input class => 'col-sm-3 control-label' /}
		<div class="col-sm-9">
			{input $input}
		</div>
	</div>
{else}
	{input $input}
{/if}
