@import "@fortawesome/fontawesome-free/css/all.css";
@import 'bootstrap/dist/css/bootstrap.css';
@import 'vanillajs-datepicker/css/datepicker-bs5.css';
@import "tom-select/dist/css/tom-select.css";
@import './datagrid.css';
