@mixin border-radius($r) {
	-webkit-border-radius: $r;
	-moz-border-radius: $r;
	border-radius: $r;
}

@mixin border-radius-complete($r1, $r2, $r3, $r4) {
	-webkit-border-radius: $r1 $r2 $r3 $r4;
	-moz-border-radius: $r1 $r2 $r3 $r4;
	border-radius: $r1 $r2 $r3 $r4;
}

@keyframes edited {
	0% {
		background-color: #A6E2A9;
	}
	100% {
		background-color: transparent;
	}
}

@keyframes edited-error {
	0% {
		background-color: #E8AAA4;
	}
	100% {
		background-color: transparent;
	}
}

.datagrid {
	background-color: #fff;
	padding: 1em;
	box-sizing: border-box;

	.datagrid-collapse-filters-button-row {
		margin-bottom: 0.5em;
	}

	.col-action {
		.dropdown {
			display: inline-block;
		}
	}

	.datagrid-row-inline-add {
		&.datagrid-row-inline-add-hidden {
			display: none;
		}
	}

	.datagrid-row-columns-summary {
		td {
			border-top: 2px solid #bbb;
			border-left: 1px solid #eee;
			border-right: 1px solid #eee;
			font-weight: bold;

			&:first-child {
				border-left: 1px solid #ddd;
			}

			&:last-child {
				border-right: 1px solid #ddd;
			}
		}
	}

	.datagrid-toolbar {
		margin-top: .35em;
		float: right;
		display: inline-block;

		& > span {
			margin-left: 1em;

			& > a {
				margin-left: 0.5em;
			}
		}
	}

	.datagrid-exports {
		.btn {
			margin-left: 0.5em;
		}

		.btn:first-child {
			margin-left: 0;
		}
	}

	.datagrid-settings {
		display: inline-block;

		.dropdown-menu--grid {
			font-size: 12px;

			li .fa {
				margin-right: 0.5em;
			}
		}
	}

	.row-reset-filter {
		text-align: right;
		margin-bottom: 0.5em;
	}

	.row-filters {
		& > div {
			margin-bottom: 0.5em;
		}
	}

	.datagrid-manual-submit {
		margin-bottom: 0.5em;
	}

	.filter-range-delimiter {
		text-align: center;
	}

	.bootstrap-select.input-sm > .btn {
		padding: 5px 25px 5px 10px;
		font-size: 12px;
		line-height: 1.5;
		border-radius: 3px;
	}

	table {
		margin: 0;

		thead {
			tr {
				.bootstrap-select:not([class*=col-]):not(.input-group-btn) {
					width: auto;

					& > .btn {
						width: auto;
					}

					.dropdown-menu li {
						font-size: 13px;
					}
				}

				&.row-group-actions {
					th {
						border-bottom-width: 0 !important;
						background-color: #f9f9f9;
					}

					.datagrid-selected-rows-count {
						margin-left: 0.3em;
					}
				}

				th {
					font-size: 90%;
					vertical-align: top;

					hr {
						margin: 8px -8px;
					}

					.datagrid-column-header-additions {
						float: right;

						a[data-datagrid-reset-filter-by-column] {
							margin-left: 0.3em;
							color: #858585;
						}

						.column-settings-menu {
							opacity: 0;
							cursor: pointer;
							margin-left: 2px;
							display: inline-block;

							.dropdown-menu {
								font-size: 12px;

								li .fa {
									margin-right: 0.5em;
								}
							}
						}
					}

					.datagrid-col-filter-date-range, .datagrid-col-filter-range {
						.input-group {
							.datagrid-filter-date-range-last {
								@include border-radius-complete(3px, 0, 0, 3px);
							}

							.input-group-addon-first {
								@include border-radius-complete(0, 3px, 3px, 0);
								border-left: 0;
							}

							.datagrid-col-filter-datte-range-delimiter {
								background-color: inherit;
								border: none;
							}
						}
					}

					.datagrid-col-filter-range {
						.form-control {
							@include border-radius(3px);
						}
					}

					&:hover {
						.column-settings-menu {
							opacity: 1;
						}
					}

				}
			}
		}

		tbody {
			td {
				vertical-align: middle;
			}

			tr {
				&.ui-sortable-helper {
					display: table;
				}

				&.row-item-detail {
					display: none;

					&.toggled {
						display: table-row;
					}

					.item-detail-content {
						display: none;
					}
				}

				&.row-item-detail-helper {
					display: none;
				}

				.datagrid-inline-edit {
					.form-control {
						margin: -3px;
						padding-bottom: 4px;
						padding-top: 4px;
						height: 28px;
					}
				}

				td {
					&[data-datagrid-editable-url] {
						&.editing {
							textarea {
								padding: 2px;
								margin: -3px;
							}
						}
					}

					&.edited {
						animation-name: edited;
						animation-duration: 1.2s;
						animation-delay: 0;
					}

					&.edited-error {
						animation-name: edited-error;
						animation-duration: 1.6s;
						animation-delay: 0;
					}
				}
			}
		}

		th.col-checkbox, td.col-checkbox {
			padding: 0;
			width: 2.1em;
			text-align: center;
			vertical-align: middle;

			.happy-checkbox {
				margin-right: 0;
			}

			&.col-checkbox-first {
				border-top-color: transparent;
			}
		}

		th.col-checkbox {
			background-color: #f9f9f9;
		}

		th.col-action, td.col-action {
			white-space: nowrap;
			width: 10px;
		}

		th.col-action {
			text-align: center;
		}

		td.col-action {
			text-align: right;
		}

		th.datagrid-fit-content, td.datagrid-fit-content {
			width: 1%;
			white-space: nowrap;
		}
	}

	.datagrid-tree {
		& > .datagrid-tree-header {
			.datagrid-tree-item-right-actions-action {
				opacity: 0;
			}
		}

		& > .datagrid-tree-item {
			margin-left: 20px;
		}

		.datagrid-tree-item {
			position: relative;

			&.ui-sortable-placeholder {
				visibility: visible !important;
				background-color: rgba(70,83,93,.1);
			}

			.datagrid-tree-item-content {
				position: relative;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				box-sizing: border-box;
				height: 37px;
				box-shadow: inset 0px -1px 1px -1px #9B9B9B;

				.datagrid-tree-item-left, .datagrid-tree-item-right {
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: space-between;
					align-items: center;
				}

				.datagrid-tree-item-left {
					order: 1;

					& > .chevron {
						@include border-radius(11px);
						width: 22px;
						height: 22px;
						line-height: 20px;
						vertical-align: middle;
						background-color: #fff;
						display: inline-block;
						text-align: center;
						position: relative;
						margin: 0 5px 0 -27px;
						transition: transform 0.2s ease-in-out;

						&:hover {
							-webkit-box-shadow: 0px 0px 3px 0px rgba(180,180,180,1);
							-moz-box-shadow: 0px 0px 3px 0px rgba(180,180,180,1);
							box-shadow: 0px 0px 3px 0px rgba(180,180,180,1);
						}

						&.toggle-rotate {
							transform: rotate(90deg);
						}

						.fa {
							font-size: 10px;
							transform: translate(1px, 0);
						}
					}
				}

				.datagrid-tree-item-right {
					position: relative;
					order: 2;
					flex-basis: 50%;
					display: flex;
					flex-wrap: nowrap;
					justify-content: flex-end;
					flex-direction: row;

					.btn {
						margin-top: -3px;
					}

					.datagrid-tree-item-right-columns {
						white-space: nowrap;
						display: flex;
						flex-basis: 70%;
						flex-direction: row;
						flex-wrap: nowrap;
						justify-content: flex-end;

						.datagrid-tree-item-right-columns-column {
							padding: 0 7px;
							margin-right: 4px;
							flex-basis: 25%;

							&:last-child {
								margin-right: 0;
							}
						}
					}

					.datagrid-tree-item-right-actions {
						margin-left: 7px;
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						justify-content: space-between;
						align-items: center;

						.datagrid-tree-item-right-actions-action {
							margin-right: 4px;

							&:last-child {
								margin-right: 0;
							}
						}
					}
				}
			}

			.datagrid-tree-item-children:not(.datagrid-tree) {
				margin-left: 28px;
			}

			&:not(.has-children) {
				& > .datagrid-tree-item-children {
					box-sizing: border-box;
					position: relative;
					width: calc(100% - 28px);
					min-height: 9px;
					margin-top: -9px;
				}
			}

			&.has-children {
				& > .datagrid-tree-item-children {
					display: none;

					.datagrid-tree-item-right {
						flex-basis: calc(50% + 14px);
					}
				}
			}
		}
	}

	.datagrid-tree-item-children {
		.datagrid-tree-item-right {
			flex-basis: calc(50% + 14px);
		}

		.datagrid-tree-item-children {
			.datagrid-tree-item-children {
				.datagrid-tree-item-right {
					flex-basis: calc(50% + 28px) !important;
				}

				.datagrid-tree-item-children {
					.datagrid-tree-item-right {
						flex-basis: calc(50% + 42px) !important;
					}

					.datagrid-tree-item-children {
						.datagrid-tree-item-right {
							flex-basis: calc(50% + 56px) !important;
						}

						.datagrid-tree-item-children {
							.datagrid-tree-item-right {
								flex-basis: calc(50% + 74px) !important;
							}

							.datagrid-tree-item-children {
								.datagrid-tree-item-right {
									flex-basis: calc(50% + 88px) !important;
								}

								.datagrid-tree-item-children {
									.datagrid-tree-item-right {
										flex-basis: calc(50% + 102px) !important;
									}

									.datagrid-tree-item-children {
										.datagrid-tree-item-right {
											flex-basis: calc(50% + 116px) !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.btn {
		transition: all 0.1s ease-in-out;
		white-space: nowrap;
	}


	select {
		padding: 0;
		text-transform: none;
	}

	.row-grid-bottom {
		font-size: 0;
		padding: 8px;
		background-color: #f9f9f9;
		border: 1px solid #ddd;
		border-top: 0;

		.col-items {
			font-size: 14px;
			display: inline-block;
			width: 25%;
		}

		.col-pagination {
			font-size: 14px;
			display: inline-block;
			width: 50%;
		}

		.col-per-page {
			font-size: 14px;
			display: inline-block;
			width: 25%;

			form {
				display: inline-block;
			}

			.form-control {
				width: auto;
				display: inline-block;
			}
		}

		.datagrid-per-page-submit {
			position: absolute;
			visibility: hidden;
			width: 0;
			top: -200px;
		}
	}

	.pagination {
		&.active > span {
			color: #fff;
		}

		& > a {
			&.disabled {
				color: #989898;
				cursor: not-allowed;
			}

			&.active {
				pointer-events: none;
				cursor: default;
			}
		}
	}

	.row-group-actions {
		th {
			font-weight: normal;
		}
	}

	.col-checkbox {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		.happy-checkbox {
			margin-top: 2px;
		}
	}
}

.datagrid-column-status-option-icon {
	float: right;
}
