name: "Codesniffer"

on:
  pull_request:

  push:
    branches: ["*"]

  schedule:
    - cron: "0 8 * * 1"

jobs:
  codesniffer:
    name: "Codesniffer"
    uses: contributte/.github/.github/workflows/codesniffer.yml@v1
